body {
    // background-image: url('background.jpg'); // I was going to originally add a paper background but I lost time
    font-family:'Times New Roman', Times, serif !important; // Overrides all font styling to Times
}

// A nice newspaper print black-and-white effect 
img {
    filter: grayscale(1);
}

// A simple header
.header {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    padding: 1% 3% 0;
    margin: 2%;
    border: 5px solid black;
    border-left: none;
    border-right: none;

    &__title {
        font-size: 8em;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__caption {
        font-size: 1.5em;
        width: 100%;
        text-transform: uppercase;
        & ul {
            display: flex;
            gap: 10%;
            justify-content: space-evenly;
            padding: 1%;

            list-style: none;

            background: black;
            color: white;
        }
    }
    &__credit {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 1%;
        font-style: italic;
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: space-around;
        padding: 1%;

        &__item {
            // We're using a <input> ele but we're actually hiding it and relying solely on the label for styling purposes
            & .dropdown-toggle {
                display: none;

                // Changes the <i> class to reflect the current state of the dropdown:checked state
                &:checked ~ label .fa-angle-down {
                    display: none;
                }

                &:checked ~ label .fa-angle-up {
                    display: inline-block;
                }

                /*/ CSS only dropdown which works by using a hidden checkbox which allows us to manipulate the :checked pseudo-class. /*/
                &:checked ~ div {
                    position: fixed;
                    display: flex;
                    flex-direction: column;
                    gap: 5%;
                    padding: 2%;
                
                    font-size: smaller;
                    background: black;
                    color: white;
                }
            }

            &__dropdown-menu {
                display: none;

                & a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__btn {
                & .fa-angle-up {
                    display: none;
                }
            }

            &--link {
                & a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// article's html is modified throughout each layout so this should remain flexible
.article {

    &__header {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
        margin: 1% 0;
        text-align: center;

        & h2 {
            display: flex;
            align-items: center;
            flex-shrink: 1;
            gap: 2%;
            justify-content: center;
            width: -webkit-fill-available;
            margin: 0 2%;
    
            font-size: 5em;
            font-weight: bold;

            &::before, &::after { // Creates horizontal lines to add some spacing in between the header's flanks
                content: "";
                height: 5px;
                flex-grow: 1;
                background: black;
            }
        }

        & h3 { // Our caption's styling
            font-size: 2em;
            font-style: italic;
        }
    }

    &__content {
        display: flex;
        gap: 2%; // Gap to create some between image & text
        padding: 0 27px;

        &__image {
            padding: 0 2%;
        }
        &__text {
            padding: 0 2%;
            border-left: 5px solid black;
            & h4 {
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
            & p {
                margin: 5% 0;
                text-align: justify;
                letter-spacing: 2px;
            }
        }
    }

    &__footer {
        text-align: center;

        & address {
            & i {
                margin: 0 5px;
            }
            & a {
                color: black;
                text-decoration: none;
            }
        }
    }
}


// Creates a footer and that is centered with spacing in between
.footer {
    display: flex;
    flex-flow: column wrap;
    gap: 2em;
    padding: 2%;
    margin: 2%;
    border-top: 5px solid black;

    & ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none; // Gets rid of the bullet points
        & li {
            & a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                & i {
                    margin: 0% 10px;
                }
            }
        }

        &:first-of-type { // Makes the first list in different styling for distinction 
            padding: 1%;
            background: black;
            color: white;
        }
    }
}